<div id="current-month" style="text-align: center;">
  <%= Date.current.strftime("%B") %>
</div>

<div class="text-center" style="margin-top:50px;">
  <input type="text" id="users" class="form-control input-lg" id="search-bar"/>
  <input type="button" id="search-btn" value="Search" class="btn btn-custom flat-btn"/>
  <%= button_to 'Add New', new_hosteller_path, :method => :get, :class => 'btn btn-custom flat-btn' %>

</div>

<div id="hosteller-data">

</div>